<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Category</title>
    <link
      rel="shortcut icon"
      href="/asset-admin/img/svg/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/asset-admin/css/style.css" />
  </head>

  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
      <!-- ! Sidebar -->
      <%- include('./partials/sidebar-admin')%>
      <div class="main-wrapper">
        <!-- ! Header -->
        <header>
          <%- include('./partials/header-admin')%>
        </header>
        <!-- ! Main -->
        <div>
          <h2 class="main-title">Product Category</h2>
          <a href="/admin/manage-category/create">
            <button class="button-btn">New Category</button>
          </a>
          
          <div class="users-table table-wrapper">
            <table class="posts-table">
              <thead>
                <tr class="users-table-info">
                  <th>Title</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="list-category-admin">
                
              </tbody>
            </table>
          </div>
        </div>
        <!-- ! Footer -->
        <footer class="footer">
          <%- include('./partials/footer-admin')%>
        </footer>
      </div>
    </div>
    <!-- Chart library -->
    <script src="/asset-admin/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="/asset-admin/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="/asset-admin/js/script.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        getPopularCategoryDataAdmin();
      });
    
      const getPopularCategoryDataAdmin = async () => {
          try {
              const response = await fetch("/v1/categories");
              const categories = await response.json();
    
              const htmlCategoryAdmin = categories.map(
                  (item) => { 
                    const createdAt = new Date(item.createdAt).toLocaleDateString();
                    return `
                      <tr id="trow_${item.id}">
                          <td>${item.name}</td>
                          <td>${createdAt}</td>
                          <td>
                            <a href="/admin/category/update/${item.id}" id="edit" data-id=${item.id}><button class="btn btn-edit">Edit</button></a> | 
                            <a href="" id="delete" data-id=${item.id}><button class="btn btn-delete">Delete</button> </a>
                          </td>
                      </tr>
                  `
          }).join("");
            document.querySelector("#list-category-admin").innerHTML = htmlCategoryAdmin;
    
            //Click update
            document.querySelectorAll(".btn-edit").forEach((button) => {
            button.addEventListener("click", (e) => {
                const categoryId = e.target.closest("a").getAttribute("data-id");
                if (categoryId) {
                  window.location.href = `/admin/category/update/${categoryId}`;
                }
              });
            });
    
            // Click delete
            document.querySelectorAll(".btn-delete").forEach((button) => {
              button.addEventListener("click", async (e) => {
                e.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ <a>
                const categoryId = e.target.closest("a").getAttribute("data-id");
                if (!categoryId) {
                  alert("Invalid category ID.");
                  return;
                }
                await deleteCategory(categoryId);
              });
            });
          } catch (error) {
              console.log("Error fetching category data:", error);
          }
      };
    
    
      const deleteCategory = async (categoryId) => {
        try {        
          const confirmDelete = confirm(
            "Are you sure you want to delete this category?"
          );
          if (!confirmDelete) return;
    
          const response = await fetch(`/v1/categories/${categoryId}`, {
            method: "DELETE",
          });
    
          if (response.ok) {
            document.getElementById(`trow_${categoryId}`).remove();
            alert("Category deleted successfully!");
          } else {
            alert("Failed to delete category.");
          }
        } catch (error) {
          console.error("Error deleting category:", error);
          alert("Error deleting category.");
        }
      };
    
    </script>

  </body>
</html>
