<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Category</title>
    <link
      rel="shortcut icon"
      href="/asset-admin/img/svg/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/asset-admin/css/style.min.css" />
    <link rel="stylesheet" href="/asset-admin/css/style.css" />
  </head>

  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
      <!-- ! Sidebar -->
      <%- include('./partials/sidebar-admin')%>
      <div class="main-wrapper">
        <!-- ! Header -->
        <header><%- include('./partials/header-admin')%></header>
        <!-- ! Main -->
        <div class="form-container">
          <a href="/admin/manage-category">
            <button class="button-btn">x</button>
          </a>
          <form action="/category/create" method="POST">
            <div class="form-group">
              <label for="category-name">Category Name</label>
              <div class="bnt"></div>
              <input type="text" id="categoryName" name="categoryName" required placeholder="Enter category name here">
            </div>
      
            <div class="form-group">
              <button type="submit" id="submit" class="submit-btn">Create Category</button>
            </div>
          </form>
        </div>
        <!-- ! Footer -->
        <footer class="footer"><%- include('./partials/footer-admin')%></footer>
      </div>
    </div>
    <!-- Chart library -->
    <script src="/asset-admin/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="/asset-admin/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="/asset-admin/js/script.js"></script>

    <script>
      //Tạo mới category
      const createCategory = async () => {
        const categoryName = document.getElementById('categoryName').value;
    
        try {
          const response = await fetch("/api/categories", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ name: categoryName }),
          });
    
          if (response.ok) {
            alert("Create category success");
            window.location.href = `/admin/manage-category`;
          } else {
            const error = await response.json();
            alert(`Error: ${error.message || "Unknown error occurred"}`);
          }
        } catch (error) {
          console.error('Error creating category:', error);
          alert("An unexpected error occurred.");
        }
      };
    
      document.querySelector('#submit').addEventListener('click', (event) => {
        event.preventDefault();
        createCategory();
      });
    </script>
  </body>
</html>
